/* Phần Header */
.header {
  /* height: var(--header-height); */
  background-image: linear-gradient(
    0,
    var(--primary-color-rgpa),
    var(--primary-color)
  );
  width: 100%;
  top: 0;
}

.header__navbar {
  display: flex;
  /* height: var(--navbar-height); */
  justify-content: space-between;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-list {
  list-style-type: none;
  padding-left: 0;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
  justify-items: center;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #8fe0ec;
  right: -9px;
  top: 35%;
  transform: translateY(-50%);
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: #ffffffb3;
  cursor: pointer;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0px 3px;
}

.header__navbar-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR code */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 110%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__download-img {
  height: 15px;
  min-width: 72px;
  margin-top: 4px;
}

.header__qr-link:nth-child(odd) {
  margin-left: 11px;
}

.header__qr-link:nth-child(even) {
  margin-right: 9px;
}

/* Phần Search ở header */
.header-with-search {
  /* height: var(--header-width-search-height); */
  display: flex;
  align-items: center;
  padding: 5px;
}

.header__logo {
  width: 150px;
  display: flex;
  justify-content: center;
}

.header__logo-img {
  width: 100px;
  height: 70px;
}

.header__search {
  display: flex;
  flex-grow: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  padding-left: 16px;
  align-items: center;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select {
  border-left: 1px solid var(--border-color);
  padding-left: 16px;
  position: relative;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: var(--border-color);
  margin: 0 4px;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 120%;
  width: 160px;
  box-shadow: 0 2px 3px #ccc;
  padding-left: 0;
  border-radius: 3px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
  content: "";
  width: 100%;
  display: block;
  height: 20px;
  position: absolute;
  top: -15px;
}

.header__search-option-item {
  background-color: var(--white-color);
  list-style: none;
  padding: 8px 8px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
  background-color: var(--whiteless-color);
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 6px;
}

.header__search-option-item i {
  font-size: 1.4rem;
  color: var(--primary-color);
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 80%;
  margin: 4px 4px 4px 0;
}

.header__search-btn:hover {
  background-color: var(--button-primary-color);
  cursor: pointer;
}

.header__search-btn-icon {
  color: var(--white-color);
  font-size: 1.8rem;
  width: 40px;
}

.header__cart {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__cart-icon:hover {
  cursor: pointer;
  color: var(--border-color);
}

/* Phần Top menu */
.top__menu {
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.topmenu__list {
  display: flex;
  padding: 0;
}

.topmenu__info {
  background-color: var(--primary-color-rgpa);
  margin: 5px;
  padding: 5px;
  list-style-type: none;
  height: 30px;
}

.topmenu__info-select {
  position: relative;
}

.topmenu__info-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
}

.topmenu__info-select:hover .topmenu__info-option {
  display: block;
}

.topmenu__info-option {
  background-color: var(--white-color);
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 140px;
  padding-left: 0;
  /* border-radius: 3px; */
  animation: fadeIn ease-in 0.2s;
  box-shadow: 3px 2px 10px #3e3e3e;
}

.topmenu__info-option-item {
  background-color: var(--white-color);
  list-style: none;
  position: relative;
}

.topmenu__info-option-item-link {
  padding: 8px 8px;
  display: flex;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--border-color);
  justify-content: space-between;
}

.topmenu__info-option-item-link:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.topmenu__info-option-item-select:hover .topmenu__info-option-1 {
  display: block;
}

/*  */
.topmenu__info-option-1 {
  background-color: var(--white-color);
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 140px;
  padding-left: 0;
  animation: fadeIn ease-in 0.2s;
}

.topmenu__info-option-item-1 {
  background-color: var(--white-color);
  list-style: none;
  border-right: solid 3px var(--primary-color);
}

.topmenu__info-option-item-1:last-child {
  border-bottom: solid 5px var(--primary-color);
}

.topmenu__info-option-item-link-1 {
  padding: 8px 8px;
  display: flex;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--border-color);
  justify-content: space-between;
}

.topmenu__info-option-item-link-1:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* Phần Container */
.container {
  background-color: #f7f7f7;
  /* border: solid 1px black; */
  box-sizing: border-box;
  width: 100%;
}

/* Phần Body */
/* Phần Body Top */
.bodytop {
  display: flex;
}

/* Phần Body Top - Left */
.bodytop__left {
  width: calc(20% - 5px);
  /* border: solid 1px black; */
  margin: 5px 5px;
  box-sizing: border-box;
  padding: 5px;
}

/* Phần Vertical Menu */
.verticalmenu {
  margin-bottom: 10px;
}

.verticalmenu_title {
  /* line-height: 50%; */
  border-bottom: var(--border-color) 5px solid;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  user-select: none;
}

.verticalmenu_title-icon- {
}

.verticalmenu__detail {
  background-color: var(--primary-color-rgpa);
}

.verticalmenu_title h3 {
  margin: 15px 0;
}

.verticalmenu__detail-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.verticalmenu__detail-item {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.verticalmenu__detail-icon {
  width: 20px;
  height: 20px;
  justify-content: center;
  size: fixed;
  margin-right: 5px;
}

.verticalmenu__detail-link {
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.6rem;
}

/* Phần Container - Right */
.bodytop__right {
  width: calc(80% - 5px);
  /* border: solid 1px black; */
  margin: 5px 5px;
  box-sizing: border-box;
}

.producttype {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.producttype__name {
  font-weight: 800;
  color: var(--text-color);
  font-size: 1.5rem;
  display: block;
  border-bottom: solid 5px var(--border-color);
  user-select: none;
}

.item__list {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  display: flex; /* Thêm display flex cho item__list */
  flex-wrap: wrap; /* Cho phép các item xuống hàng */
}

.item {
  width: calc(25% - 10px);
  border: solid 3px var(--border-color);
  margin: 5px;
}

.item:hover {
  transform: scale(1.05);
}

.item__image {
  height: 190px;
}

.item__image .images {
  width: 100%;
  height: 190px;
}

.item__info {
  line-height: 1.8rem;
  padding: 5px 5px 5px 0px;
  background-color: var(--primary-color-rgpa);
  color: var(--text-color);
  font-size: 1.55rem;
  display: inline-block;
  width: 100%;
  max-height: 150px;
  min-height: 100px;
  position: relative;
  border-top: solid 1px var(--border-color);
}

.item__info a {
  text-decoration: none;
  position: relative;
}

.item__info-detail {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.item__info-detailend {
  font-size: 1.6rem;
  bottom: 5px;
  right: 5px;
  position: absolute;
}

.item__info-link {
  font-weight: 300;
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 10px;
}

.item__info-link:hover {
  color: var(--primary-color);
  border: solid 1px var(--border-color);
}

.pagenumber {
  background-color: #004e64;
  text-align: center;
}

.page-button {
  width: 30px;
  height: 30px;
  display: inline-table;
  clear: both;
  background-color: #8fe0ec;
  margin: 5px 5px;
  padding: 7px;
  font-size: 16px;
}

.page-button:hover {
  cursor: pointer;
  background-color: #217d89;
}

.page-button:disabled {
  cursor: not-allowed;
}

/* Phần Body Middle */
.bodymiddle {
  margin: 0 auto;
  padding: 30px 0px;
  width: 100%;
}

.bodymiddle__header {
  text-align: center;
  margin-bottom: 40px;
}

.bodymiddle h1 {
  background-image: linear-gradient(
    0,
    var(--primary-color),
    var(--primary-color-rgpa),
    var(--primary-color)
  );
  color: black;
  padding: 20px;
  text-align: center;
  width: calc(100% - 70px);
  margin: 10px auto;
}

.bodymiddle__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.bodymiddle__container-info {
  text-align: center;
}

.bodymiddle__container-info i {
  font-size: 40px;
  color: var(--border-color);
  margin-bottom: 15px;
}

.bodymiddle__container-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.bodymiddle__container-info p {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.5;
}

/* Phần Footer */
.footer {
  background-color: var(--primary-color-rgpa);
  border-top: solid 3px var(--primary-color);
  width: 100%;
  margin-top: 10px;
  /* display: inline-block; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  width: 20%;
  padding: 0 15px;
}

.footer-section-icon {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.footer-section h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  line-height: 1.8rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-section li a {
  text-decoration: none;
  color: black;
}

.footer-section li a:hover {
  color: var(--button-primary-color);
}

/* Phần Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  animation: growth linear 0.2s;
  z-index: 1;
}

.auth-form {
  width: 500px;
  border-radius: 5px;
  background-color: var(--white-color);
  overflow: hidden;
}

.auth-form__container {
  padding: 0px 32px;
}

.closeForm {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0 0;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--border-color-1);
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 15px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__swith-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form label {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.auth-form__group {
  padding: 2px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 3px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: solid 1px var(--border-color);
  border-radius: 2px;
}

.auth-form__input:focus {
  border-color: #888;
  outline: none;
}

.auth-form__aside {
  margin-top: 12px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  padding: 0 5px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 45px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  padding: 16px 36px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 32px;
}

.auth-form__socials--google {
  color: #666;
  background-color: var(--white-color);
}

/* Prodcut detail */
#productLayout {
  /* display: block; */
}

.product-containter {
  display: flex;
  width: 600px;
}

.product-content {
  padding: 20px;
  background: #f9f9f9;
  border: solid 2px #000000;
  position: relative;
}
.product-close {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  top: 0px;
  right: 3px;
  line-height: 20px;
}
.product-close:hover {
  color: var(--primary-color);
}
.img {
  width: 60%;
}
.content {
  width: 400px;
  padding: 10px;
  position: relative;
}

.content-detail {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--border-color-1);
  padding: 20px;
}

.product-quantity {
  display: flex;
  width: 100%;
  justify-content: center;
}

.quantity-btn {
  width: 30px;
  font-size: 1.6rem;
  cursor: pointer;
}

.quantity-input {
  width: 50px;
  font-size: 1.6rem;
  text-align: center;
}

.add-to-cart {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  background-color: var(--primary-color-rgpa);
  cursor: pointer;
}

.input[type="text"] {
  width: 40px;
  text-align: center;
}

.form-message {
  font-size: 1.4 rem;
  color: red;
}

/* Reponsive */
@media only screen and (max-width: 800px) {
  .item {
    width: calc(33.3% - 10px);
    height: calc(30% - 10px);
  }

  .header__navbar {
    display: inline-block;
    width: 100%;
  }

  .header__navbar-list {
    padding-top: 5px;
    width: 100%;
    background-color: var(--primary-color);
    margin: 2px 0;
    border: var(--border-color) 2px solid;
  }

  .header__cart {
    width: 60px;
  }

  .bodymiddle h1 {
    width: calc(100% - 50px);
  }

  .modal__body {
    top: 40%;
  }

  .auth-form__aside {
    margin-top: 5px;
  }

  .auth-form__controls {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .item {
    width: calc(50% - 10px); /* Hai item trên một hàng */
    height: calc(30% - 10px);
  }

  .bodytop__right {
    width: 100%;
  }

  .bodytop__left {
    display: none;
  }

  .header-with-search {
    padding: 5px;
    display: block;
  }

  .header__logo {
    display: block;
    text-align: center;
    width: 100%;
  }

  .header__search {
    margin-top: 5px;
  }

  .header__cart {
    display: none;
  }

  .bodymiddle__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .bodymiddle h1 {
    width: calc(100% - 20px);
  }

  .modal__body {
    top: 50%;
  }

  .auth-form {
    width: 400px;
  }

  .auth-form__header {
    margin-top: 5px;
  }

  .auth-form__aside {
    margin-top: 5px;
  }

  .auth-form__controls {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .auth-form__form label {
    color: var(--primary-color);
    font-size: 1rem;
  }

  .auth-form__input {
    font-size: 1rem;
  }

  .auth-form__socials {
    padding: 8px 18px;
  }

  .product-containter {
    width: 100%;
  }

  .content-detail {
    font-size: 1.4rem;
    padding: 10px;
  }
}

.product-btn {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color-rgpa);
  font-size: 1.4rem;
  color: var(--primary-color);
  transition: background-color 0.01s linear, color 0.01s linear;
  border-radius: 50%;
  margin: 2px;
}
.product-btn:hover {
  cursor: pointer;
}

.ellipsis {
  font-size: 2.4rem;
  color: white;
}

.search-name {
  width: 300px; /* Chiếm tối đa chiều rộng màn hình */
  padding: 10px;
}

#advanced-search-form {
  font-size: 1.6rem;
}

.form-group label {
  font-weight: bold;
}

.form-group {
  padding: 5px;
}

#search-name {
  width: 100%;
}
#search-category {
  width: 100%;
}
#search-price-min {
  width: 100%;
}
#search-price-max {
  width: 100%;
}

.price-range {
  margin-top: 5px 0;
}

.accountLogin {
  display: none;
}
.accountLogin:hover > button {
  display: block;
}
#adminLogin:hover > button {
  display: block;
}
.userLogout {
  display: none;
  border: none;
  border-radius: 5px;
  margin-left: 0px;
}
